Mtn.Library.Standard.deps.json
Mtn.Library.Standard.dll
Mtn.Library.Standard.pdb
Mtn.Library.Standard.AssemblyInfo.cs
Mtn.Library.Standard.AssemblyInfoInputs.cache
Mtn.Library.Standard.csproj.CopyComplete
Mtn.Library.Standard.csproj.CoreCompileInputs.cache
Mtn.Library.Standard.csproj.FileListAbsolute.txt
Mtn.Library.Standard.csprojResolveAssemblyReference.cache
Mtn.Library.Standard.csproj.nuget.cache
Mtn.Library.Standard.csproj.nuget.g.props
Mtn.Library.Standard.csproj.nuget.g.targets
project.assets.json
